{% extends 'trainers/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">I tuoi prossimi allenamenti programmati</h2>

    {% if allenamenti %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Data</th>
                        <th>Orario</th>
                        <th>Utente</th>
                        <th>Richieste Specifiche</th>
                    </tr>
                </thead>
                <tbody>
                    {% for allenamento in allenamenti %}
                        <tr>
                            <td>{{ allenamento.data_prenotazione }}</td>
                            <td>{{ allenamento.get_fascia_oraria_display }}</td>
                            <td>{{ allenamento.registrato_utente.user.username }}</td>
                            <td>{{ allenamento.richieste_specifiche|default:"Nessuna" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Non hai allenamenti programmati nei prossimi 7 giorni.
        </div>
    {% endif %}
<div>
    <br>
    <a href="{% url 'trainers:personal_trainer_home' %}" class="btn btn-primary">Torna alla sezione Allenatori</a>
    </div>
</div>
{% endblock %}
