{% extends "trainers/base.html" %}
{% load static %}

{% block content %}
    {% if not user.is_authenticated %}
        <h1 class="text-center mb-4">Benvenuto nella sezione allenatori!</h1>
        <div class="text-center mt-4">
            <a href="{% url 'trainers:personal_trainer_list' %}" class="btn btn-primary">I nostri allenatori</a>
        </div>
    {% else %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Benvenuto nella tua Dashboard, {{ personal_trainer.nome }}!</h1>

    {% if personal_trainer %}
        <div class="row">
            <div class="col-md-4">
                {% if personal_trainer.immagine_profilo %}
                    <img src="{{ personal_trainer.immagine_profilo.url }}" alt="Immagine profilo" class="img-fluid rounded-circle" style="max-width: 100%;">
                {% else %}
                    <img src="{% static 'imgs/mia_foto.jpeg' %}" alt="Immagine profilo" class="img-fluid rounded-circle" style="max-width: 100%;">
                {% endif %}
            </div>

            <div class="col-md-8">
                <p><strong>Nome:</strong> {{ personal_trainer.nome }} {{ personal_trainer.cognome }}</p>
                <p><strong>Data di Nascita:</strong> {{ personal_trainer.data_di_nascita }}</p>
                <p><strong>Preferenza:</strong> {{ personal_trainer.get_preferenze_display }}</p>
                <p><strong>Bio:</strong> {{ personal_trainer.bio }}</p>
                <p><strong>Competenze:</strong> {{ personal_trainer.competenze }}</p>
            </div>
        </div>

        <hr class="my-4">

        <!-- Bottone per visualizzare gli allenamenti programmati -->
        <div class="text-center mt-4">
            <a href="{% url 'trainers:allenamenti_programmati' %}" class="btn btn-primary">Visualizza i tuoi allenamenti programmati</a>
        </div>

        <div class="text-center mt-4">
            <a href="{% url 'trainers:personal_trainer_update' pk=personal_trainer.pk %}" class="btn btn-secondary">Modifica il tuo profilo</a>
        </div>

    {% else %}

        <div class="alert alert-warning mt-4">
            <p>Non hai ancora creato il tuo profilo da personal trainer. <a href="{% url 'trainers:personal_trainer_create' %}">Clicca qui</a> per creare il tuo profilo.</p>
        </div>

    {% endif %}
</div>
    {% endif %}
{% endblock %}
