{% extends 'bookings/base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Le tue Prenotazioni</h2>

{% if not user.registratoutente %}
            <div class="alert alert-warning text-center mt-4">
                <p>Completa il tuo profilo per accedere poter prenotare allenamenti ed altre funzioni.</p>
                <a href="{% url 'accounts:inserimento_dati_utente' %}" class="btn btn-primary">Completa il Profilo</a>
            </div>
{% else %}

  {% if prenotazioni %}
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Data</th>
          <th>Orario</th>
          <th>Personal Trainer</th>
          <th>Richieste Specifiche</th>
        </tr>
      </thead>
      <tbody>
        {% for prenotazione in prenotazioni %}
          <tr>
            <td>{{ prenotazione.data_prenotazione }}</td>
            <td>{{ prenotazione.get_fascia_oraria_display }}</td>
            <td>{{ prenotazione.personal_trainer.nome }} {{ prenotazione.personal_trainer.cognome }}</td>
            <td>{{ prenotazione.richieste_specifiche|default:"Nessuna" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-warning text-center" role="alert">
      Non hai ancora effettuato alcuna prenotazione.
    </div>
  {% endif %}

  <div class="text-center mt-4">
    <a href="{% url 'bookings:crea_prenotazione' %}" class="btn btn-primary">Prenota un nuovo allenamento</a>
    <a href="{% url 'bookings:elimina_prenotazioni' %}" class="btn btn-secondary">Modifica le tue prenotazioni</a>
  </div>
</div>

    {% endif %}
{% endblock %}
