{% extends 'bookings/base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Crea una Prenotazione</h2>

  <form method="POST" class="mx-auto" style="max-width: 600px;">
    {% csrf_token %}

    <!-- Form con styling di Bootstrap -->
    <div class="form-group mb-3">
      {{ form.as_p }}
    </div>

    <!-- Bottone di invio stilizzato con Bootstrap -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Prenota</button>
    </div>
  </form>
    <div class="text-center mt-4">
        <a href="{% url 'trainers:elenco_personal_trainers_ordinato' %}" class="btn btn-primary">I nostri allenatori</a> <a href="{% url 'trainers:disponibilita_personal_trainers' %}" class="btn btn-primary">Verifica disponibilità</a>
    </div>
</div>
{% endblock %}
