{% extends "accounts/base.html" %}
{% block title %} Creazione Utente {% endblock %}



{% block content %}

    {% block header1 %}
  <div class="container text-center mt-5">
    <h1 class="mb-3">Pagina di Registrazione</h1>
    <p>Si prega di compilare i campi necessari</p>
  </div>
{% endblock %}

<div class="card text-center">
  <div class="card-header center">
      <h3>Crea il tuo profilo</h3>
  </div>
  <div class="card-body">
  <form method="post" class="mx-auto" style="max-width: 600px;">
    {% csrf_token %}

    <!-- Renderizza il form utilizzando Bootstrap -->
    <div class="mb-3">
      {{ form.as_p }}
    </div>

    <!-- Bottone di submit con Bootstrap -->
    <button type="submit" class="btn btn-primary">Registrati</button> <a href="{% url 'accounts:home_accounts' %}" class="btn btn-secondary"> Annulla </a>

  </form>
  </div>
</div>

{% endblock %}
