{% extends "accounts/base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}
    {% block header1 %}
  <h1>Benvenuto!</h1>
        {% if  not user.is_authenticated %}
        <form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <button type="submit">Login</button>
</form>
        {% endif %}
{% endblock %}
{% if user.is_authenticated and "ok" in request.GET.login %}

La procedura di login e' andata a buon fine <br>

<form method="POST" action="{% url 'accounts:logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{% endif %}
{% endblock %}