{% extends 'base.html' %}
{% block content %}
<body>
<title>Homepage Palestra</title>

  <!-- Contenuto principale -->
  <div class="container text-center mt-5">
    <h1>Benvenuti nella Palestra XYZ</h1>
    <p class="lead">Scegli la sezione che desideri visitare:</p>

    <div class="row mt-4">
      <!-- Sezione Account -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Account</h5>
            <p class="card-text">Gestisci il tuo profilo e le tue informazioni.</p>
            <a href="{% url 'accounts:home_accounts' %}" class="btn btn-primary">Vai alla sezione Account</a>
          </div>
        </div>
      </div>

      <!-- Sezione Login -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            <p class="card-text">Accedi al tuo account per gestire i tuoi dati e le prenotazioni.</p>
            <a href="{% url 'accounts:login' %}" class="btn btn-primary">Accedi</a>
          </div>
        </div>
      </div>

      <!-- Sezione Allenatori -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Allenatori</h5>
            <p class="card-text">Scopri i nostri allenatori e le loro specializzazioni.</p>
            <a href="{% url 'trainers:personal_trainer_home' %}" class="btn btn-primary">Vai alla sezione Allenatori</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <!-- Sezione Prenotazioni -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Prenotazioni</h5>
            <p class="card-text">Prenota una sessione con uno dei nostri allenatori.</p>
            <a href="{% url 'bookings:home_page' %}" class="btn btn-primary">Vai alla sezione Prenotazioni</a>
          </div>
        </div>
      </div>

      <!-- Sezione Recensioni -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Recensioni</h5>
            <p class="card-text">Lascia una recensione sui nostri allenatori o visualizza quelle degli altri utenti.</p>
            <a href="{% url 'reviews:homepage_recensioni' %}" class="btn btn-primary">Vai alla sezione Recensioni</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock %}