{% extends "gestione/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="text-center">
        <h1 class="display-4">Benvenuto nella Dashboard dello Staff</h1>
        <p class="lead">Gestisci i personal trainer e gli utenti registrati.</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Lista Personal Trainer</h5>
                    <p class="card-text">Visualizza e gestisci tutti i personal trainer registrati.</p>
                    <a href="{% url 'gestione:lista_personal_trainer' %}" class="btn btn-primary">Vai alla lista</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Richieste per Diventare Personal Trainer</h5>
                    <p class="card-text">Controlla le richieste in attesa per diventare personal trainer.</p>
                    <a href="{% url 'gestione:lista_richieste' %}" class="btn btn-success">Visualizza richieste</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Cerca Utenti <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg></h5>
                    <p class="card-text">Cerca gli utenti registrati per nome o cognome.</p>
                    <a href="{% url 'gestione:search_registrato_utente' %}" class="btn btn-info">Cerca utenti</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
